extend layout
block content
  h3 О нас
  //p.lead
  | Качественный и профессиональный пошив. С нами работают только опытные мастера и скорняки (стаж более 20 лет). Оперативная работа и соблюдение установленных сроков. Индивидуальный подход. У нас можно выбрать готовые шубы и аксессуары, сшить любую модель на заказ, отреставрировать или перешить любимые вещи.
