extend layout
block content
  h3 Контакты
  //p.lead A page for Contacting the company.
  address
    strong Fur495.ru
    br
    | ул. Нагорная, д. 9, Долгопрудный, Россия
    br
    abbr(title="Телефон") P:
    |  +7(916) 165-5272
    br
    abbr(title="Email") E:
    |  info@fur495.ru