extend layout
block content
    h3 Интернет-магазины
    a.btn.btn-link(href="https://www.livemaster.ru/fur495" target="_blank")
      img(src="/img/livemaster.png", width="20", style="margin-right:5px")
      | Ярмарка Мастеров. Изделия из меха
    br
    a.btn.btn-link(href="https://www.livemaster.ru/fur495-material" target="_blank")
        img(src="/img/livemaster.png", width="20", style="margin-right:5px")
        | Ярмарка Мастеров. Материалы для Творчества
    br
    a.btn.btn-link(href="https://www.etsy.com/shop/Fur495" target="_blank")
        img(src="/img/etsy.png", width="20", style="margin-right:5px")
        | Etsy. Fur495 Studio
