extends layout
block content
  h1 Расчет стоимости опушки (В процессе разработки)
  .row
    .col-4
      form
        .form-group
          label(for="width") Ширина
          input#width.form-control
        .form-group
            label(for="height") Высота
            input#height.form-control
        button.btn.btn-primary Расчитать
block scripts
  
  