extends layout
block content
  h3 #{__("Caption_Calculation_Of_Fur_Strap_Price")} (#{__("Caption_In_Development")})
  .row
    .col-4
      form
        .form-group
          label(for="width") Ширина
          input#width.form-control
        .form-group
            label(for="height") Высота
            input#height.form-control
        button.btn.btn-primary Расчитать
block scripts
  
  