extend layout
block content
  h3 #{__("Menu_" + path)}

  h4 Оплата
  ul
    li Наличными курьеру СДЭК
    li Наличными в&nbsp;
      a(href="https://www.cdek.ru/contacts.html" target="_blank") пункте самовывоза
      |  СДЭК
    li Перевод на карту
    li Paypal
    li Яндрекс.Деньги
    li Webmoney

  h4 Доставка
  ul
    li По России&nbsp;
      a(href="https://www.cdek.ru/calculator.html" target="_blank") СДЭК
    li По России&nbsp;
      a(href="https://www.pochta.ru/parcels" target="_blank") Почтой России
    li По России&nbsp;
      a(href="http://www.emspost.ru/ru/calc/" target="_blank") EMS
    li Курьер по Москве и МО или забрать в&nbsp;
      a(href="https://www.cdek.ru/contacts.html") пунте самовывоза СДЭК&nbsp;
      | на следующий день после заказа - 250 р.
    li По всему миру&nbsp;
      a(href="https://www.pochta.ru/parcels" target="_blank") Почтой России
    li По всему миру&nbsp;
      a(href="http://www.emspost.ru/ru/calc/" target="_blank") EMS