extend layout
block content
    h3 Услуги
    //p.lead A page for Contacting the company.
    table(class="table-striped")
        thead
            tr
                th Услуга
                th Цена
        tbody
            tr
                td Замена шубных крючков
                td 250 р.

            tr
                td Замена петель от крючков
                td 200 р.

            tr
                td Замена манжетов
                td 1500 р.

            tr
                td Подшить джинсы
                td 300 р.