extend layout
block content
  h3 #{title}
  table(class="table-striped")
    thead
      tr
        th Услуга
        th Цена
    tbody
      tr
        td Замена шубных крючков
        td 250 р.
      tr
        td Замена петель от крючков
        td 200 р.
      tr
        td Замена манжетов
        td 1500 р.
      tr
        td Ушить шубу по боковым швам (изменение размера)
        td 6000 р.