extend layout
block content
  h3 #{title}
  table.table.table-hover
    thead.thead-inverse
      th Услуга
      th Цена (руб.)
    tbody
      tr.thead-default
        th(colspan=2) Ремонт рукавов
      tr
        td Укоротить рукава
        td 1400
      tr
        td Укоротить рукава с манжетами (браслетами)
        td 1600
      tr
        td Удлинить рукава
        td 1600
      tr
        td Заузить рукава
        td 1600
      tr
        td Расширить рукава
        td 1600
      tr
        td Изготовить и пришить муфты
        td 850
      tr
        td Вшить правильно рукава или исправить головку рукавов
        td 3000
      tr
        td Вспушить подкладку на рукавах
        td 480
      tr
        td Простегать на коленкор рукава
        td 1150
      tr
        td Простегать на коленкор стан и спинку
        td 2500
      tr
        td Зашить разрывы на рукавах
        td 1000
      tr
        td Пришить подплечики
        td 550
      tr
        td Изготовить разрезы на рукавах
        td 980
      tr
        td Пришить клипсы
        td 600
      tr.thead-default
        th(colspan=2) Другие услуги
      tr
        td Замена шубных крючков
        td 250 р.
      tr
        td Замена петель от крючков
        td 200 р.
      tr
        td Замена манжетов
        td 1500 р.
      tr
        td Ушить шубу по боковым швам (изменение размера)
        td 6000 р.
      tr
        td Пошив мужской куртки из меха
        td 35000 р.