extend layout
block content
  h3 #{__("Menu_" + path)}
  table.table.table-hover
    thead.thead-inverse
      th Услуга
      th Цена (руб.)
    tbody
      tr.thead-default
        th(colspan=2) Ремонт рукавов
      tr
        td Укоротить рукава
        td 1400
      tr
        td Укоротить рукава с манжетами
        td 1600
      tr
        td Удлинить рукава
        td 1600
      tr
        td Заузить рукава
        td 1600
      tr
        td Расширить рукава
        td 1600
      tr
        td Вшить правильно рукава или исправить головку рукавов
        td 3000
      tr
        td Вспушить подкладку на рукавах
        td 480
      tr
        td Зашить разрывы на рукавах
        td 1000
      tr
        td Пришить подплечики
        td 550
      tr
        td Изготовить разрезы на рукавах
        td 980
      tr
        td Пришить клипсы
        td 600
      tr.thead-default
        th(colspan=2) Карманы
      tr
        td Прорезать карманы, убрать потертость, зашить карманы
        td 1300
      tr
        td Прорезать, изготовить карманы
        td 1600
      tr
        td Зашить карманы
        td 900
      tr.thead-default
        th(colspan=2) Подкладка и стан
      tr
        td Простегать на коленкор стан и спинку
        td 2500
      tr
        td Простегать на коленкор рукава
        td 1150
      tr
        td Подшить подкладку борт
        td 300
      tr
        td Сменить подкладку на стане (пришивная)
        td 2250 - 2750
      tr
        td Сменить подкладку на стане (отлетная)
        td 2500 - 3000
      tr
        td Сменить подкладку на рукавах
        td 980
      tr
        td Изготовить и пришить опушку
        td 1200
      tr
        td Подшить подкладку в стане
        td 600
      tr
        td Сменить подкладку в карманах
        td 600
      tr
        td Сменить подкладку на капюшоне
        td 900
      tr
        td Изготовить и пришить вешалку
        td 350
      tr
        td Изготовить и пришить держалку
        td 500
      tr
        td Подвести утеплитель в стан
        td 1300
      tr
        td Подвести утеплитель в рукавах
        td 1000
      tr
        td Убрать утеплитель в стане и рукавах
        td 900
      tr
        td Изготовить и пришить кулиску
        td 900
      tr
        td Пришить тесьму
        td 700
      tr
        td Вшить молнию в карман
        td 800
      tr
        td Простегать на коленкор стан и спинку
        td 2150
      tr
        td Зашить разрывы по всему станку, рукавах
        td 2500
      tr
        td Снять росток в спинке, поднять плечи
        td 2500
      tr.thead-default
        th(colspan=2) Борта
      tr
        td Перекатить борт по потертости (перешить, крючки, петли)
        td 1500
      tr
        td Заменить шубный крючок в сборе (крючок + петля) (стоимость крючка включена)
        td 250
      tr
        td Заменить только петелю от шубного крючка
        td 200
      tr
        td Пришить пуговицы
        td 150
      tr
        td Пришить клипсы
        td 400
      tr
        td Пришить резинку
        td 300
      tr.thead-default
        th(colspan=2) Ремонт низа
      tr
        td Укоротить низ (пришивная до 2 м и свыше 2м)
        td 2400 - 2900
      tr
        td Укоротить низ (отлетная)
        td 2800 - 3300
      tr
        td Удлинить низ
        td 3100
      tr
        td Правка низа
        td 2100
      tr
        td Изготовить разрезы
        td 2000
      tr
        td Зашить разрезы
        td 1250
      tr.thead-default
        th(colspan=2) Манжеты
      tr
        td Изготовить и пришить манжеты / заменить манжеты
        td 1500
      tr
        td Закрепить манжеты
        td 300
      tr
        td Снять тертость манжет
        td 1000
      tr
        td Изготовить манжеты и воротник
        td 4000
      tr.thead-default
        th(colspan=2) Воротники
      tr
        td Съемный воротник
        td 1600
      tr
        td Убрать потертость на воротнике
        td 1200
      tr
        td Вшить воротник в горловину
        td 1200
      tr
        td Изготовить капюшон и вшить в горловину
        td 5700
      tr
        td Закройщица на воротники и манжеты
        td 500
      tr.thead-default
        th(colspan=2) Лацкана
      tr
        td Прорезать лацкана по окату
        td 1000
      tr.thead-default
        th(colspan=2) Боковые швы
      tr
        td Выровнять боковые швы, правка, простегать
        td 2500
      tr.thead-default
        th(colspan=2) Вставки
      tr
        td Вставить 1 дм в пальто
        td 800 - 1000
      tr.thead-default
        th(colspan=2) Пошив новых изделий
      tr
        td Полный перекрой изделия
        td 25000
      tr
        td Посадка по фигуре
        td 6000
      tr
        td Пошив шубы из куницы, норки
        td 45000
      tr
        td Пошив мужской куртки из лисы
        td 35000

  br
  p Стоимость операций, не предусмотренных в прейскуранте, обговаривается индивидуально.
    br
    | Срочная работа - плюс 40% от стоимости.